html, body {
    height: 100%;
}

#root, #main-div {
    height: 100%
}

.born-on {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  min-height: 165px;
  min-width: 516px;
  letter-spacing: normal;
  background-color: #fff;
  color: #1d2129;
  text-align: center;
  border: 1px solid #e9ebee;
  border-radius: 3px;
  line-height: 24px;
  text-decoration-style: solid;
}

.user-details {
  background-color: #fff;
}

.user-details li{
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  min-height: 30px;
  min-width: 100px;
  letter-spacing: normal;
  color: #385898;
  text-align: left;
  border-radius: 3px;
  margin: 5px;
}

.user-details {
  border: 1px solid lightgray;
  margin: 15px;
  min-width: 222px;
}

.user-about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f5f6f7;
}

.user-about-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 15px;
}

