.born-on {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  min-height: 253px;
  min-width: 514px;
  letter-spacing: normal;
  background-color: #fff;
  color: #1d2129;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 3px;
  cursor: pointer;
  line-height: 24px;
  text-decoration-style: solid;

}

.user-details li{
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  min-height: 30px;
  min-width: 100px;
  letter-spacing: normal;
  background-color: #fff;
  color: #385898;
  text-align: left;
  border-radius: 3px;
  margin: 5px;
}

.user-details {
  border: 1px solid lightgray;
}