
.createpost-container {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  font-size: 12px;
  border: 1px solid #e9ebee;
  background-color: #fff;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.createpost-btn {
  font-size: 12px;
  background-color: #4267b2;
  border-color: #4267b2;
  color: #fff;
  box-sizing: border-box;
  height: 4vh;
  width: 100%;
  border: 1px solid;
  border-radius: 2px;
  font-weight: bold;
  text-align: center;
  /* vertical-align: middle; */
}

.createpost-btn:hover {
  background-color: darkblue;
}

.createpost-body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 8vh;
  width: 100%;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: normal;
  border-bottom: 1px solid #e9ebee;
  border-top: 1px solid #e9ebee;
  display: flex;
  flex-direction: column;
}

.createpost-body input {
  font-size: 16px;
  padding-top: 24px;
}

.createpost-title h3 {
  align-items: baseline;
  padding-right: 24px;
  border-right: 2px solid #dddfe2;
  padding-left: 12px;
}

.createpost-form {
  display: flex;
  flex-direction: column;
}

.createpost-avatar, .createpost-body {
  align-items: baseline;
}

.createpost-post {
  display: flex;
}

.createpost-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.posts-total {

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 14px;
  color: #4b4f56;
  text-align: left;
  padding-left: 12px;
}

.custom-file-input {
		display: inline-block;
		position: relative;
    color: #4b4f56;
	}
	.custom-file-input input {
		visibility: hidden;
		width: 120px;
	}
	.custom-file-input:before {
		content: 'Add Photo';
		display: block;
		background: -webkit-linear-gradient( -180deg, #DADDE1, #f5f6f7);
		background: -o-linear-gradient( -180deg, #DADDE1, #f5f6f7);
		background: -moz-linear-gradient( -180deg, #DADDE1, #f5f6f7);
		background: linear-gradient( -180deg, #DADDE1, #f5f6f7);
		border: 3px solid #f5f6f7;
		border-radius: 18px;
		padding: 5px 0px;
		outline: none;
		white-space: nowrap;
		cursor: pointer;
		text-shadow: 1px 1px rgba(255,255,255,0.7);
		font-weight: bold;
		text-align: center;
		font-size: 10pt;
		position: absolute;
		left: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 5px;
    
	}
	.custom-file-input:hover:before {
		border-color: #e9ebee;
	}
		.custom-file-input:active:before {
		background: #BEC3C9;
	}