
.footer {
  
    position: sticky;
    height: 5vh;
    background-color: #fff;
    position: sticky;
    
}

.copyright a{
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: #737373;
    margin-top: 5px;
    margin-left: 235px;
}