.header-button {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 28px;
    font-size: 12px;
    text-align: start;
    letter-spacing: normal;
    background-color: #4267b2;
    color: #ffffff;
    font-weight: bold;
    padding: 0 12px 1px;
    margin: 5px;
}

.header-button:hover {
    background-color: darkblue;
    border-color: #dddddd;
}

.header-name, .header-link {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 28px;
    font-size: 12px;
    text-align: start;
    letter-spacing: normal;
    color: #ffffff;
    font-weight: bold;
    padding: 0 12px 1px;
    margin: 5px;
}

.header-group, .login-signup {
    background-color: #4267b2;
    margin: 0 auto;
    padding-top: 13px;
    height: 82px;
    min-width: 980px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 550px;
}

.signup-button {
    display: block;
    margin-top: 10px;
}

.signup-btn {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-left: 2px;
    padding-right: 2px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    background-color: #42b72a;
    border-color: #42b72a !important;
    color: #fff;
    border: 1px solid;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    min-width: 70px;
    min-height: 25px;
}

.signup-btn:hover {
    background-color: darkgreen;
}

.home {

    width: 170px;
    margin-top: 20px;
    height: 34px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
    letter-spacing: normal;
   
}

.navbar {
    position: sticky;
}