.search-bar {
    background-color: #fff;
    width: 20vw;
    font-size: 14px;
    border-radius: 3px;
    padding-left: 5px;
    height: 4vh;
    display: block;
    color: #1d2129;
    
}

.search {
position: relative;
}

.search-results {
position: absolute;
width: 100%;
}

.search-item {
    background-color: #fff;
}


.search-item:hover {
    background-color: #e9ebee;
}

.search-item li {
    list-style: none;
    font-weight: 400;
    min-height: 4vh;
    display: block;
    align-items: center;
    border-radius: 3px;
}

