.single-post {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  font-size: 12px;
  border: 2px solid #e9ebee;
  position: relative;
  min-width: 516px;
  min-height: 105px;
  background-color: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 12px;
  padding-top: 5px;
  padding-right: 12px;
  position: relative;
}


.single-post-info {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  color: #4b4f56;
  text-align: left;
}

.single-post-info p a {
  text-decoration: none;
  color: #385898;
  text-align: left;
  font-size: 15px;
  letter-spacing: normal;
  line-height: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
  margin-right: 5px;
}

.single-post-info p a:hover {
  text-decoration: underline;
}

.single-post-info h2{
  padding-top: 15px;
  padding-bottom: 15px;
}


.likes-main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: 1px solid #dddfe2;
  border-bottom: 1px solid #dddfe2;
  margin-top: 12px;
  margin-bottom: 12px;
  min-height: 52px;

}

.like-btn, .number-of-likes {
 align-items: baseline;
 text-align: center;
 vertical-align: middle;
 align-self: center;

}

.number-of-likes:hover {
  cursor: pointer;
}

.delete-post {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 12px;

}

.delete-post:hover {
color: #385898;
font-weight: 700;
}

.comments-likes {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.number-of-comments:hover {
  cursor: pointer;
}