.single-post {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  font-size: 12px;
  border: 2px solid #e9ebee;
  max-width: 40vw;
  min-height: 18vh;
  background-color: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 12px;
  padding-top: 5px;
  padding-right: 12px;
}


.single-post-info {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  color: #4b4f56;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.single-post-info p a {
  text-decoration: none;
  color: #385898;
  text-align: left;
  font-size: 15px;
  letter-spacing: normal;
  line-height: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
  margin-right: 5px;
}

.single-post-info p a:hover {
  text-decoration: underline;
}

.single-post-info h2{
 margin: 10px 0;
}


.likes-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid #dddfe2;
  border-bottom: 1px solid #dddfe2;
  margin-top: 10px;
  margin-bottom: 5px;
  min-height: 50px;

}

.like-btn {
 display: flex;
 align-items: center;
 flex-direction: row;
}

.number-of-likes {
  display: flex;
  justify-content: space-between;
}

.number-of-likes:hover {
  cursor: pointer;
}

.delete-post {
  font-size: 12px;
  font-weight: 700;
}

.delete-post:hover {
  color: #385898;

}

.comments-likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  min-height: 18px;
  width: 100%;
}

.number-of-comments {
  margin-bottom: 5px;
}

.number-of-comments:hover {
  cursor: pointer;
}

.like, .comment, .share {
  cursor: pointer;
  margin: 5px;
  padding: 10px;
  width: 85px;
  height: 16px;
  align-content: center;
}

.like:hover, .comment:hover, .share:hover {
  background-color: #f5f6f7;
  
}

.post-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}