.single-post {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  font-size: 12px;
  border: 1px solid #e9ebee;
  position: relative;
  min-width: 516px;
  min-height: 105px;
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 12px;
  padding-top: 5px;
}

.single-post-info {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  color: #4b4f56;
  text-align: left;
}

.single-post-info h2{
  margin-top: 15px;
}


.likes-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-top: 1px solid #dddfe2;
  border-bottom: 1px solid #dddfe2;
  margin-top: 12px;
  margin-bottom: 12px;
  min-height: 52px;

}

.like-btn, .number-of-likes {
 align-items: baseline;
 padding-right: 24px;
 padding-left: 12px;
 text-align: center;
 vertical-align: middle;
 align-self: center;
}