.user-about {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.about-block {
    display: flex;
    flex-direction: column;
}

.user-fullname {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.friends-total {
    display: flex;
    justify-content: row;
    margin: 5px;
    margin-bottom: 15px;
    align-items: center;
   
}

.delete-friend {

  cursor: pointer;
  background-color: #4267b2;
  color: white;
  border-color: #4267b2;
  border: 1px solid;
  border-radius: 3px;
  box-sizing: content-box;
  font-size: 10px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  justify-content: center;
  padding: 2px;
  position: relative;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  min-height: 3vh;
  max-width: 9vw;
  margin-right: 5px;

}

.delete-friend:hover {
border-color: rgb(255,20,147);
}

.delete-request {
    cursor: pointer;
  background-color: rgb(245, 246, 247);
  color: rgb(75, 79, 86);
  border-color: rgb(204, 208, 213);
  border: 1px solid;
  border-radius: 3px;
  box-sizing: content-box;
  font-size: 10px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  justify-content: center;
  padding: 2px;
  position: relative;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  min-height: 3vh;
  max-width: 9vw;
  margin-right: 5px;
}
