.user-about {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.about-block {
    display: flex;
    flex-direction: column;
}

.user-fullname {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}