.ma3 {
    color: #333;
    display: inline-block;
    letter-spacing: normal;
    line-height: 36px;
    padding: 42px 0 24px;
    text-rendering: optimizeLegibility;
    /* width: 456px; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 28px;
    text-align: start;
}

.ess8{
    color:  #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 22px;
    margin-right: 2px;
    text-align: start;
    letter-spacing: normal;
}

/* .ess7 {
    font-size: 15px;
    line-height: 20px;
    text-align: start;
    letter-spacing: normal;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
} */

.splash-info {
    margin-right: 16px;
    vertical-align: top;
    width: 40%;
    margin-left: 200px;
}

.d {
    display:flex;
    justify-content: space-between;
    background-color: #edf0f5; 
}

.e {
    width: 60%;
    margin-right: 100px;
}