
.ma3 h1 {
    color: #333;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    letter-spacing: normal;
    line-height: 36px;
    padding: 42px 0 24px;
    text-rendering: optimizeLegibility;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 28px;
    text-align: start;
    
}

.ma3 {
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
    width: 565px;
}

.ess7 {
    color:  #333;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 22px;
    margin-right: 2px;
    text-align: start;
    letter-spacing: normal;
    display: flex;
    align-items: center;
}

.ess8 {
    margin-top: 14px;
    padding-bottom: 10px;
}

.ess8 h2 {
    font-size: 15px;
    color: #666;
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
    width: 440px;
    font-family: Arial, Helvetica, sans-serif;
}

.splash-info {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: baseline;
    flex-wrap: wrap;
    padding-left: 200px;
    width: 40%;
}

.d {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #edf0f5;
    padding: 10px 0;
}

.e {
    width: 60%;
    margin-right: 200px;
}